@font-face {
    font-family: 'SourceSansProBlack';
    src: url(../fonts/SourceSansPro-Black.ttf);
}
@font-face {
    font-family: 'SourceSansProBold';
    src: url(../fonts/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
    font-family: 'SourceSansProLight';
    src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: 'SourceSansProRegular';
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: 'SourceSansProSemiBold';
    src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #26292c;
    background: #ffffff;
    font-family: SourceSansProRegular,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
}
h1, h2, h3, h4 {
  font-family: SourceSansProBold, sans-serif;
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  word-break: break-word;
}
h1 {
  font-size: 56px;
  line-height: 62px;
}
h2 {
    font-size: 48px;
    line-height: 53px;
}
h5 {
  font-size: 24px;
  line-height: 29px;
}
h1+*, h2+*, h3+*, h4+*, h5+*, h6+* {
  margin-top: 20px;
}
p {
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 0;
    word-break: break-word;
}
a:not(.no-hover) {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #317ae2;
}
ol,ul {
    list-style: none;
}
.page-nav li:first-child {
    padding-left: 0;
}
.page-nav li {
    padding-left: 40px;
    display: inline-block;
}
.page-nav li a {
    color: #26292c;
    position: relative;
    font-size: 20px;
    line-height: 1.5em;
}
.page-nav li a:focus, .page-nav li a:hover {
    color: #2b0a3d;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 9999;
    box-shadow: 0 6px 20px 0 rgba(60,63,64,0.07);
}
.header-inner {
    display: flex;
    align-items: center;
    background: #ffffff;
    height: 88px;
}
.moblie-toggle-btn {
    display: none;
}
.circle {
  width: 100%;
  height: 100%;
  position: relative;
}
.line {
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #26292c;
  border-radius:4px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
   top: 2px;
}
.middle {
  top: 10px;
}
.bottom {
  top: 18px;
}
.icon.close .top {
  transform: rotate(45deg);
  top: 10px;
}
.icon.close .middle, .icon.close .bottom {
  transform: rotate(-45deg);
  top: 10px;
}
.header-window-logo {
    position: relative;
    z-index: 10;
}
.header-logo {
    display: flex;
    align-items: center;
}
.logo-animation {
    width: 162px;
    height: auto;
}
.page-nav {
    margin-left: 130px;
}
.clearfix:after {
    display: table;
    clear: both;
    content: "";
}
.cntctnmbr {
    margin: 0 0 0 auto;
}
.pb-button-default:hover {
    color: #26292c;
    background-color: #f4f4f4;
}
.pb-button--xl {
    color: #fff;
    background: #08a742;
    font-weight: 700;
}
button.video-play-button {
    display: flex;
}
.video-play-button {
  align-items: center;
  justify-content: center;
}
.pb-button-default {
  background: transparent;
  color: #26292c;
  box-shadow: inset 0 0 0 3px #26292c;
  font-weight: 700;
}
.pb-button, .pb-button--xl {
    display: inline-block;
    font-family: SourceSansProBold, sans-serif;
    padding: 11px 20px;
    text-align: center;
    outline: none;
    transition: all .25s ease-in-out;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    min-width: 86px;
    white-space: nowrap;
    font-size: 24px;
    line-height: 1.4em;
}
.pb-button-lg, .pb-button-small {
  padding: 6px 15px;
  font-size: 20px;
}
.video-play-button_icon {
  width: 21px;
  height: 26px;
  margin-right: 10px;
  background: url(../img/play.svg);
}
#home-mid{
  padding-top: 88px;
}
.home-banner {
  padding-top: 40px;
  padding-bottom: 80px;
}
.home-banner:not(:first-child) {
    padding-top: 80px;
}
.home-banner .ray-grid {
  position: relative;
}
.home-banner:after {
    margin-top: 80px;
}
.home-banner:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(38,41,44,.12);
}
.ray-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    -webkit-box-align: center;
    align-items: center;
}
.hero-two-columns_buttons_wrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 20px;
  margin: 40px 0 20px;
}
.hero-two-columns-animation {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
}
.intro-animation-img {
    width: 512px;
}
.hero-two-columns__subtitle {
    font-size: 14px;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cards .card-block:not(:first-child) {
    margin-top: 80px;
}
.card-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-block-col3 {
    grid-gap: 20px 10px;
}
.card-block-wrapper {
    display: grid;
}
.card {
    position: relative;
}
.grid-borders:not(.grid-borders--disable)>*>:before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -10px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #e5e5e5;
}
.grid-borders:not(.grid-borders--disabled)>*>::after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: 5px;
    width: 1px;
    height: calc(100% - 10px);
    background-color: #e5e5e5;
}

.grid-borders-remove-last-1>*>:nth-last-child(-n+1):before,.grid-borders-remove-last-1>*>:nth-last-child(-n+1):last-child:after,.grid-borders-remove-last-2>*>:nth-last-child(-n+2):before,.grid-borders-remove-last-2>*>:nth-last-child(-n+2):last-child:after,.grid-borders-remove-last-3>*>:nth-last-child(-n+3):before,.grid-borders-remove-last-3>*>:nth-last-child(-n+3):last-child:after,.grid-borders-remove-last-4>*>:nth-last-child(-n+4):before {
    content: none
}

.card-wrapper-clickable-with-borders:hover:before {
    content: "";
    display: block;
    width: calc(100% + 11px);
    height: calc(100% + 21px);
    left: -6px;
    z-index: 1;
    bottom: -10px;
    position: absolute;
    background-color: #f7f7f7
}


.card-link {
  display: block;
  height: 100%;
  color: #26292c;
}
.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-inner {
  position: relative;
  z-index: 1;
  padding: 40px;
}
.card-features .card-inner {
  display: flex;
  padding: 80px 40px;
  flex-direction: column;
  align-items: center;
}
.card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.card-text {
  font-size: 20px;
}
@media (min-width: 1195px) {
    .page-wrapper {
        margin: 0 auto;
        padding: 0 60px;
        width: 100%;
        max-width: 1440px;
    }
    .card-block-col3 {
        grid-template-columns: repeat(3,1fr);
    }
    .grid-borders-desktop-per-row-1>*>:nth-child(1n):after,.grid-borders-desktop-per-row-2>*>:nth-child(2n):after,.grid-borders-desktop-per-row-3>*>:nth-child(3n):after,.grid-borders-desktop-per-row-4>*>:nth-child(4n):after,.grid-borders-desktop-per-row-5>*>:nth-child(5n):after,.grid-borders-desktop-per-row-6>*>:nth-child(6n):after {
        content: none;
    }
}

@media (max-width: 1195px) {
    .moblie-toggle-btn {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        display: block;
        position: relative;
        z-index: 999999;
    }
    .page-nav {
        width: 270px;
        height: 100%;
        float: left;
        position: fixed;
        z-index: 99999;
        margin: 0;
        background: rgba(0,0,0,0.3);
        transform: translatex(-270px);
        transition: linear 0.2s all 0s;
        left: 0;
        top: inherit;
        bottom: 0;
    }
    .page-nav-in {
        background: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    .page-nav .navigation {
        padding: 70px 0 0 0;
    }
    .page-nav li:first-child {
        padding: 0px 20px;
    }
    .page-nav li {
        float: none;
        margin-bottom: 10px;
    }
    .page-nav li {
        position: relative;
        display: block;
        padding: 0px 20px;
    }
    .page-nav li a {
        font-size: 20px;
    }
    .slide-nav {
        transform: translateX(0px);
    }
    .ray-button {
        font-size: 16px;
    }
    .ray-button-compact {
        padding: 5px 10px;
    }
    .home-banner {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .home-banner:not(:first-child) {
        padding-top: 40px;
    }
    .home-banner:after {
        margin-top: 40px;
    }
    .ray-grid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .hero-two-columns-title, .hero-two-columns__subtitle, .hero-two-colums {
        text-align: center;
    }
    /* .hero-two-colums {
        text-align: center;
    } */
    .hero-two-columns-button {
        display: grid;
    }
    .hero-two-columns__subtitle {
        margin-bottom: 40px;
    }
}
@media (max-width: 1194px) and (min-width: 600px) {
  .page-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 48px;
  }
}
@media screen and (max-width: 712px) and (min-width: 1px) {
    .hero-two-columns_two-buttons {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .card-block-col3 {
      grid-template-columns: 1fr;
    }
    .card-features .card-inner {
      padding: 40px 0;
    }
    .card-content {
      width: 90%;
    }
    .card-features .card-title {
      margin-top: 0;
    }
    .grid-borders-mobile-per-row-1>*>:nth-child(1n):after,.grid-borders-mobile-per-row-2>*>:nth-child(2n):after,.grid-borders-mobile-per-row-3>*>:nth-child(3n):after,.grid-borders-mobile-per-row-4>*>:nth-child(4n):after {
       content:none;
   }
}
@media screen and (max-width: 1104px) and (min-width: 713px) {
    .hero-two-columns_buttons_wrapper {
        justify-content: center;
    }
    .hero-two-columns_two-buttons {
        grid-template-columns: repeat(2,minmax(250px,max-content));
    }
    .hero-two-columns-animation {
        max-width: 66%;
    }
}
@media (max-width: 599px) {
    .page-wrapper {
        margin:0 auto;
        padding: 0 16px;
        width: 100%;
        max-width: 100%;
    }
    .header-inner {
        display: flex;
        align-items: center;
        background: #ffffff;
        height: 72px;
    }
    .logo-animation {
        width: 130px;
        height: auto;
    }
    #home-mid{
      padding-top: 72px;
    }
    h1 {
        font-size: 38px;
        line-height: 42px;
    }
    h2 {
        font-size: 34px;
        line-height:40px ;
    }
    .intro-animation-img {
        width: 320px;
    }
    h5 {
      font-size: 24px;
    }
}
